@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poiret+One&display=swap');

body {
  background-image: url(https://krot.info/uploads/posts/2021-02/1614144948_24-p-plexus-fon-24.jpg);
  /* для заголовков */
  /* font-family: 'Poiret One', cursive; */
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}

.ava {
  width: 150px;
  border-radius: 15px;
  box-shadow: -5px -5px 50px 2px #d8b08c;
}

h1,
h2,
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #d8b08c;
}

h1 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.center-block,
.social,
.center-block-main {
  width: 80%;
  background-color: #106466;
  background: linear-gradient(
    90deg,
    rgb(4, 15, 21),
    rgb(16, 100, 102),
    rgb(4, 15, 21)
  );
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  border-radius: 50px 50px 0 0;
}

.social {
  width: 80%;
  background-color: #106466;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  border-radius: 0 0 50px 50px;
}

h1,
h2 {
  font-family: 'Poiret One', cursive;
}

.item p {
  display: inline-block;
}

hr {
  color: #579394;
  height: 1px;
  border-width: 1px;
  border-color: #579394;
}

a {
  color: #ffcb9b;
  text-decoration: none;
}

a a:visited {
  color: #ffcb9b;
}

button {
  height: 45px;
  width: 250px;
  border-radius: 20px;
  border-style: none;
  font-size: 18px;
  box-shadow: -5px -5px 50px 2px #d8b08c;
  margin: 25px;
  background: linear-gradient(rgb(210, 232, 227), rgb(216, 176, 140));
  color: #106466;
}

.btn-text {
  color: #106466;
}
